/* style.css */
body{
  background-color: white;
  color: #032459;
  font-size: 18px;
  font-family: Helvetica;
}
h1{
  font-family: ;
  color: white ;
  font-weight: bolder;
  font-size: 40px;
}
h2 {
  font-family: Courier;
  color: #6f99db;
  font-weight: heavy;
  font-size: 25px;
  border-bottom: pixel05 solid 
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}
.k {
  width: 300px;
}

#final {
  font-weight: bold;
}

#banner {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("images/todos_nosotros.jpg");
  height: 50vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner p {
  color: white;
}

.card {
  padding: 30px;
  text-align: center;
  margin: 0px 40px;
}

#footer {
  background-color: black;
  color: white;
  padding: 20px 40px;
}

#footer a {
  color: white;
  font-size: 30px;
}

#footer a:hover {
  color: gray;
}
